* {
  box-sizing: border-box;
}
:root {
  --primary: #4caf50;
}

body {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(61, 59, 59);
}
p,
li {
  color: rgb(126, 124, 124);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
